<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, width=device-width" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open Sans:wght@400;600;700;800&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Work Sans:wght@400&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" />
</head>
<body>
  <main class="login-page">
    <div class="header">
      <b class="login">Login</b>
      <div class="create-an-account">
        Finding your perfect space, one click at a time.
      </div>
    </div>
    <!-- <div class="name-input">
      <div class="name">Name</div>

        <input class="name-input-child" id="rectangle" type="text" name="name" placeholder="Enter your name" />

    </div> -->
    <div class="email-input">
      <div class="name">Email</div>

        <input class="email-input-child" type="email" name="email" placeholder="Enter your email" />

    </div>

    <div class="password-input">
        <div class="name">Password</div>
          <input class="password-input-child" type="password" name="password" placeholder="Enter your password" />

    </div>
    <!-- <div class="sign-up-button">
      <div class="sign-up-button-child"></div> -->
    <button class="login-button-child login-button">Login</button>
    <!-- </div> -->
    <div class="social-login-section">
        <div class="or-log-in"><a routerLink="/signup">Signup&nbsp;</a> to create an account or log in with your social account. </div>

      <!-- <div class="facebook-sign-up">
        <div class="facebook-sign-up-child"></div> -->
        <button class="login-with facebook-login-child facebook-login">Login with Facebook</button>
      <!-- </div> -->
      <!-- <div class="google-sign-up"> -->
        <!-- <div class="google-sign-up-child"></div> -->
        <button class="google-login login-with1 google-login-child">Login with Google</button>
      <!-- </div> -->

    </div>
  </main>
</body>
</html>

