
.create-an-account,
.login {
  position: absolute;
  left: 0;
  line-height: 1.32rem;
}
.login {
  top: 0;
}

.login {
    position: absolute;
    line-height: 1.32rem;
  }
.create-an-account {
  top: 2.5rem;
  font-size: var(--font-size-mini);
  font-family: var(--font-open-sans);
  color: var(--color-black);
  
}

.header,
.name {
  position: absolute;
}
.header {
  top: 4rem;
  left: 24.94rem;
  width: 20.5rem;
  height: 3.88rem;
  text-align: right;
  font-size: var(--font-size-21xl);
  font-family: var(--font-montserrat);
}
.name {
  top: 0;
  left: 0;
  line-height: 1.32rem;
  font-weight: 600;
}
.email-input-child {
  position: absolute;
  top: 3rem;
  left: 0.06rem;
  border-radius: var(--br-3xs);
  border: 1.5px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 44.56rem;
  height: 3.5rem;
  cursor: pointer;
}
.email-input {
  position: absolute;
  top: 10rem;
  left: 24.94rem;
  width: 44.63rem;
  height: 6.5rem;
}
.password-input-child {
  position: absolute;
  top: 3rem;
  left: 0.06rem;
  border-radius: var(--br-3xs);
  border: 1.5px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 44.56rem;
  height: 3.5rem;
}
.password-input {
  position: absolute;
  top: 19rem;
  left: 24.94rem;
  width: 44.63rem;
  height: 6.5rem;
}


.login-button-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkslateblue);
  width: 44.56rem;
  height: 3.5rem;
}

.facebook-slogin-child,
.login-button {
  position: absolute;
  width: 44.56rem;
  height: 3.5rem;
}
.login-button {
  top: 28rem;
  left: 25rem;
  font-size: var(--font-size-xl);
  color: var(--white);
}
.facebook-login-child {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: #3679ea;
}
.login-with {
  position: absolute;
  top: 1.06rem;
  left: 15.19rem;
  line-height: 1.32rem;
}
.facebook-login,
.google-login-child {
  position: absolute;
  left: 0;
  width: 44.56rem;
  height: 3.5rem;
}
.facebook-login{
  top: 2.56rem;
}
.google-login-child {
  top: 0;
  border-radius: var(--br-3xs);
  background-color: #cc5542;
}
.login-with1 {
  position: absolute;
  top: 1.06rem;
  left: 16.06rem;
  line-height: 1.32rem;
}
.google-login {
  position: absolute;
  top: 8rem;
  left: 0;
  width: 44.56rem;
  height: 3.5rem;
}
.or-log-in {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-mini);
  line-height: 1.32rem;
  color: var(--color-black);
  text-align: right;
}
.social-login-section {
  position: absolute;
  top: 33rem;
  left: 25rem;
  width: 44.56rem;
  height: 12.5rem;
  font-size: var(--font-size-xl);
  color: var(--white);
}
.login-page {
  position: relative;
  background-color: var(--white);
  width: 100%;
  height: 46.38rem;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-gray-200);
  font-family: var(--font-open-sans);
}
button{
  cursor: pointer;
}

